


/* template for theme colors  */
:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #e74c3c; /* Red */
  --accent-color: #f39c12; /* Yellow */
}

.background-color {
  background-color: var(--secondary-color);
}

html {
  margin-top: 0%;
}
/* "homepage" */
.btn-squared {
  border-radius: 0;
  background-color: var(--primary-color);
  color: white;
  }
  .homepage h3 {
  
    color: #3498db;
  
  }
  
  .homepage {
    background-color: #ecf0f1;
    color: #333; 
    padding: 20px; 
    text-align: center;
  }
  
  .homepage h1 {
    color: #3498db; 
  }
  
  
  .homepage a {
    color: #ecf0f1; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .homepage a:hover {
    color: #c0392b; 
  }

/* "homepage" */
.btn-squared {
border-radius: 0;
background-color: var(--primary-color);
color: white;
}

/* p {
  background-color: transparent;
} */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  
  color: #333; /* Dark text for better contrast */
}

.btn-squared,
.btn-btn-primary {
  border-radius: 0;
}

.btn-btn-primary {
  --bs-btn-color: var(--accent-color);
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color); 
  
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #fff; /* Text color */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}


/* consoles */

.container {
  background-color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px;
}

.card {
  flex: 0 0 calc(100% - 40px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
}

.card-body {
  padding: 20px;
  max-height: 200px; 
  overflow-y: auto; 
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin-bottom: 1em;
}

.card-img {
  max-width: 200px;
  height: 170px;
  border-radius: 8px;
  box-shadow: 0 4 6px rgba(0, 0, 0, 0.1);
}

/* .reviews {
  margin-top: 10px;
  
} */

.reviews-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
 
}

.review-item {
  margin-bottom: 8px; 
  padding: 10px;
 background-color: var(--secondary-color);
}
div.card.m-2 {
  background-color: var(--primary-color);
}