


/* template for theme colors  */
:root {
  --primary-color: #4e5e70; 
  --secondary-color: #6cce83;
  --accent-color: #ffee07; 
}

/* "homepage" */
.btn-squared {
border-radius: 0;
background-color: #007bff;
color: white;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

nav {
  background-color: #007bff; /* Primary color */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #fff; /* Text color */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}


/* consoles */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  flex: 0 0 calc(30% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
}

.card-body {
  padding: 20px;
  max-height: 200px; 
  overflow-y: auto; 
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin-bottom: 1em;
}

.card-body img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4 6px rgba(0, 0, 0, 0.1);
}