/*  */

/* template for theme colors  */
:root {
  --primary-color: #007bff; /* Blue */
  --secondary-color: #28a745; /* Green */
  --accent-color: #ffc107; /* Yellow */
}

/* "homepage" */
.btn-squared {
border-radius: 0;
background-color: #007bff;
color: white;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #007bff; /* Primary color */
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #fff; /* Text color */
  font-weight: bold;
}


/* consoles */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  /* Adjust the width calculation based on the margin and number of cards you want per row */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

.card-body {
  padding: 10px;
}

.card-body p {
  margin-bottom: 0;
}

.card-body img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}